;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.28.4"]
  [nrepl/nrepl "0.9.0"]]

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn repro.core/init}}
   }}}
